body {
        background-color: lightgray;
        font-family: Arial, sans-serif;
    }

    /* Стили для бокового меню */
    .vertical-menu {
        height: 100vh; /* Высота меню - 100% высоты окна браузера */
        width: 60px; /* Изначальная ширина меню - 30px */
        position: fixed; /* Позиционирование меню - фиксированное, оно всегда на одном месте */
        z-index: 1; /* z-index определяет, какие элементы находятся поверх других элементов */
        top: 0; /* Расположение меню - в верхней части окна браузера */
        left: 0; /* Расположение меню - в левой части окна браузера */
        background-color: DarkGrey; /* Цвет фона меню - темно-серый */
        overflow-x: hidden; /* Скрываем горизонтальную полосу прокрутки */
        transition: width 1s; /* Плавный переход ширины меню в течение 1 секунды */
    }

    /* Определяем стили для бокового меню при наведении курсора */
    .vertical-menu:hover {
        width: 20%; /* Ширина меню при наведении курсора - 100% */
    }

    /* Определяем стили для ссылок в боковом меню */
    .vertical-menu a {
        color: white; /* Цвет текста ссылок */
        display: block; /* Ссылки отображаются как блочные элементы */
        padding: 20px; /* Отступы для текста ссылок */
        text-decoration: none; /* Убираем подчеркивание у ссылок */
        transition: background-color 0.3s; /* Плавный переход цвета фона ссылок в течение 0.3 секунды */
		white-space: nowrap; /*Предотвращаем перенос текста ссылок на новую строку */
    }

    /* Определяем стили для ссылок в боковом меню при наведении курсора */
    .vertical-menu a:hover {
        background-color: #696969; /* Цвет фона ссылок при наведении курсора - темно-серый */
    }

    /* Стили для иконок */
    .icon {
        margin-right: 30px;
    }

    img {
        width: 20px;
    }

    /* Стили для контента страницы */
    .content {
        margin-left: 80px; /* Отступ слева для основного контента */
        padding: 20px; /* Отступы для основного контента */
    }